td, th{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}

.mainContainer>div{
    flex: 1 0 50%;
}

.tabbars>span{
    border: 1px solid black;
    padding: 1px;
    cursor:pointer;
}
.tabbars{
    margin: 10px 0;
}